<aside>
	<div class="panel radius b30">
		<h3>Is this the program for you?</h3>
		<p>
			<ul style="font-size:1.1vw">
                <li>Are you a health professional who is interested in advancing your career in data science while working full-time?<span style="float:right; color:#2774AE">✔</span></li>
                <li>Are you a college graduate who seeks entry into the burgeoning field of data science with an advanced degree from the <a href="https://www.usnews.com/best-colleges/rankings/national-universities/top-public">No. 1 Public School in US</a>?<span style="float:right; color:#2774AE">✔</span></li>
                <li>Do you want to shape the future of healthcare, health administration, drug discovery and development, insurance strategy, and biomedical research by big data-driven analytics?<span style="float:right; color:#2774AE">✔</span></li>
                <li>Would you like to grow your network by connecting with peers and faculty members through weekly live sessions as well as monthly on-campus immersions in the vibrant west Los Angeles area?<span style="float:right; color:#2774AE">✔</span></li>
              </ul>
		</p>
	</div>

	<div class="panel radius b30">
		<h3>Your future starts here...</h3>
		<p>
			<ul style="font-size:1.1vw">
                <li>Data scientist is consistently ranked among the top 3 best jobs on <a href="https://www.glassdoor.com/List/Best-Jobs-in-America-LST_KQ0,20.htm">Glassdoor</a> in 2016-2022.</li>
                <li>Recent master graduates from the top-ranked UCLA Department of Biostatistics have secured positions in high-profile employers including 23andMe, Amazon, Amgen, CDC, Cedars Sinai, City of Hope, FDA, Genentech, Google, Merck, Meta, UCLA Health and Yahoo!, or continued their academic pursuit in top Ph.D. programs across the nation.</li>
              </ul>
		</p>
	</div>

    <!-- <img class="b30" src="http://dummyimage.com/303x16:9/df4949/e27b3f.png&amp;text=Ugly+Ad+Space" alt=""> -->


	<!-- <div class="border-dotted radius b30">
		<img src="http://placekitten.com/271/270" alt="uh, Placekitten">
		<p class="text-left">
			This is an advertisment with a crazy cat! <a href="http://placekitten.com/">More cats, please!</a>
		</p>
	</div> -->
</aside>
